/* =Main structure
========================= */

ol.cfsnip_snippet_list li.postbox {
	background:#fff;
	border:1px solid #dfdfdf;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	-khtml-border-radius:6px;
	border-radius:6px;
	margin-bottom: 10px;
	width:auto;
}

ol.cfsnip_snippet_list li.postbox .hndle {
	position:relative;
	zoom:1;
}

ol.cfsnip_snippet_list .form-table th {
	width:80px;
}

ol.cfsnip_snippet_list .form-table input,
ol.cfsnip_snippet_list .form-table textarea {
	width:95%;
	min-width:500px;
}

ol.cfsnip_snippet_list li .cfsnip_empty_input { /* placeholder text */
	color:#999;
}

/* =Buttons
========================= */

ol.cfsnip_snippet_list .cfsnip_remove_snippet {
	background:#ccc;
	border:1px solid #aaa;
	border-color:#aaa #bbb #c5c5c5;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	-khtml-border-radius:6px;
	border-radius:6px;
	line-height:1;
	margin:4px;
	padding:2px 4px;
	position:absolute;
	right:0;
	top:0;
}

#cfsnip_add_snippet {
	cursor:pointer;
}
#cfsnip_add_snippet:hover {
	color:#d54e21;
}

/* =New Snippet form
========================= */

ol.cfsnip_snippet_list li.cfsnip-new-snippet {
	background:#ffffe9;
}

.cfsnip-new-snippet .hndle input.cfsnip-name {
	width:200px;
}
.cfsnip-new-snippet .hndle span {
	line-height:29px;
}

ol.cfsnip_snippet_list .cfsnip-new-snippet .cfsnip_remove_snippet {
	margin:12px 4px;
}

/* =Help
========================= */

#snippet-instructions {
	background:#f1f1f1;
	border:1px solid #dfdfdf;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-khtml-border-radius:4px;
	border-radius:4px;
	margin:10px 0;
	padding:8px 12px;
}