/* Popup CSS */

.cfsp-popup {
	background: #FFFFFF;
	border: 2px solid #1B1B1B; /* 1b1b1b */
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	-khtml-border-radius:6px;
	border-radius:6px;
}
.cfsp-popup-close {
	float:right;
}
.cfsp-popup-head {
	background-color:#DFDFDF;
	-moz-border-radius: 3px 3px 0 0;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-top-left-radius: 3px;
	-khtml-border-top-right-radius: 3px;
	-khtml-border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	padding:10px 20px;
}
.cfsp-popup-head h2 {
	margin:0;
}

.cfsp-popup-content {
	padding:20px;
}

.cfsp-popup-edit-content {
	min-width:500px;
	margin-bottom:15px;
}

.cfsp-popup-error {
	margin:5px 0 15px;
	background-color:#FFFFE0;
	border-color:#E6DB55;
	border-style:solid;
	border-width:1px;
	padding:0 0.6em;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	
}

.cfsp-popup-error p {
	line-height:1;
	margin:0.5em 0;
	padding:2px;
}

.cfsp-shortcode,
.cfsp-template-tag {
	display:none;
	background-color:#E4F2FD;
	border:1px solid #C6D9E9;
	padding:10px;
	width:600px;
	font-size:9px;
}

.cfsp-shortcode code,
.cfsp-template-tag code {
	font-size:9px;
}