#cfsp .inside {
	margin:0;
}

.cfsp-add {
	margin:6px;
}

.cfsp-item {
	margin:0 0 8px;
	padding:0 10px 10px;
	border-top: 1px solid #DFDFDF;
	border-bottom: 1px solid #DFDFDF;
	background: #F9F9F9 none repeat scroll 0 0;
}

.cfsp-name {
	padding: 5px 10px;
	background-color:#FFFFFF;
	line-height:35px;
	font-size:12px;
	font-weight:bold;
	vertical-align:middle;
}

.cfsp-remove-link,
.cfsp-add-content-link, 
.cfsp-hide-link,
.cfsp-show-link {
	padding-top:0;
	padding-bottom:0;
}
